.profile {
    margin: 15px;
    margin-bottom: 0;
    width: 15vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-content{
    flex:1;
}

figure.image{
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#return-button{
    position: absolute;
    top:1vh;
    left:1vh;
    opacity: 0;
}